USE [master]
GO
/****** Object:  Database [upisi]    Script Date: 19.3.2019. 16:18:36 ******/
CREATE DATABASE [upisi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'upisi', FILENAME = N'C:\Users\programer\upisi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'upisi_log', FILENAME = N'C:\Users\programer\upisi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [upisi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [upisi]
GO
USE [upisi]
GO
/****** Object:  Table [dbo].[polaznici]    Script Date: 19.3.2019. 16:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[polaznici](
	[id] [int] NULL,
	[ime] [nchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[mjesto_stanovanja] [nchar](25) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[polaznici] ([id], [ime], [prezime], [mjesto_stanovanja]) VALUES (0, N'Pero                                              ', N'Peric', N'Bugojno                  ')
INSERT [dbo].[polaznici] ([id], [ime], [prezime], [mjesto_stanovanja]) VALUES (1, N'Djuro                                             ', N'Djuric', N'Sarajevo                 ')
USE [master]
GO
