USE [master]
GO
/****** Object:  Database [upisi]    Script Date: 19.3.2019. 18:17:49 ******/
CREATE DATABASE [upisi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'upisi', FILENAME = N'C:\Users\programer\upisi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'upisi_log', FILENAME = N'C:\Users\programer\upisi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [upisi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [upisi]
GO
USE [upisi]
GO
/****** Object:  Table [dbo].[polaznici]    Script Date: 19.3.2019. 18:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[polaznici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nchar](50) NOT NULL,
	[prezime] [nchar](50) NOT NULL,
	[mjesto_stanovanja] [nchar](25) NULL,
 CONSTRAINT [PK_polaznici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tecajevi]    Script Date: 19.3.2019. 18:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tecajevi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [varchar](50) NOT NULL,
	[cijena] [money] NULL,
 CONSTRAINT [PK_tecajevi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[upisi]    Script Date: 19.3.2019. 18:17:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[upisi](
	[tecajevi_id] [int] NOT NULL,
	[polaznici_id] [int] NOT NULL,
 CONSTRAINT [PK_upisi] PRIMARY KEY CLUSTERED 
(
	[tecajevi_id] ASC,
	[polaznici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[polaznici] ON 

INSERT [dbo].[polaznici] ([id], [ime], [prezime], [mjesto_stanovanja]) VALUES (1, N'Ana                                               ', N'Milić                                             ', N'Zagreb                   ')
INSERT [dbo].[polaznici] ([id], [ime], [prezime], [mjesto_stanovanja]) VALUES (2, N'Sanja                                             ', N'Tarak                                             ', N'Split                    ')
INSERT [dbo].[polaznici] ([id], [ime], [prezime], [mjesto_stanovanja]) VALUES (3, N'Mladen                                            ', N'Gork                                              ', N'Osijek                   ')
SET IDENTITY_INSERT [dbo].[polaznici] OFF
SET IDENTITY_INSERT [dbo].[tecajevi] ON 

INSERT [dbo].[tecajevi] ([id], [naziv], [cijena]) VALUES (1, N'Osnove rada PC racunala', 1234.0000)
INSERT [dbo].[tecajevi] ([id], [naziv], [cijena]) VALUES (2, N'Microsoft Word', 4565.0000)
INSERT [dbo].[tecajevi] ([id], [naziv], [cijena]) VALUES (3, N'SQL - osnove', 1111.0000)
SET IDENTITY_INSERT [dbo].[tecajevi] OFF
INSERT [dbo].[upisi] ([tecajevi_id], [polaznici_id]) VALUES (1, 1)
INSERT [dbo].[upisi] ([tecajevi_id], [polaznici_id]) VALUES (2, 2)
INSERT [dbo].[upisi] ([tecajevi_id], [polaznici_id]) VALUES (3, 3)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_polaznici]    Script Date: 19.3.2019. 18:17:49 ******/
CREATE NONCLUSTERED INDEX [IX_polaznici] ON [dbo].[polaznici]
(
	[prezime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[upisi]  WITH CHECK ADD  CONSTRAINT [FK__upisi__polaznici__4BAC3F29] FOREIGN KEY([polaznici_id])
REFERENCES [dbo].[polaznici] ([id])
GO
ALTER TABLE [dbo].[upisi] CHECK CONSTRAINT [FK__upisi__polaznici__4BAC3F29]
GO
ALTER TABLE [dbo].[upisi]  WITH CHECK ADD  CONSTRAINT [FK_upisi_tecajevi] FOREIGN KEY([tecajevi_id])
REFERENCES [dbo].[tecajevi] ([id])
GO
ALTER TABLE [dbo].[upisi] CHECK CONSTRAINT [FK_upisi_tecajevi]
GO
ALTER TABLE [dbo].[polaznici]  WITH CHECK ADD  CONSTRAINT [chk_id] CHECK  (([id]>=(1) AND [id]<=(1000)))
GO
ALTER TABLE [dbo].[polaznici] CHECK CONSTRAINT [chk_id]
GO
USE [master]
GO
